<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% block body %}
  <h2>Sign up</h2>

   <p> Since some people are concerned about data privacy its worth infoming you that the only data we collect are your username, hashed passwords and what ever messages you choose to send. </p>


  <form method="post">
    {% csrf_token %}
    <h3>Username: 
    {{ form.username }}<br>
    </h3><br>
    <h3>Password:
    {{ form.password1 }}<br>
    (8 character minimum)
  </h3><br>
  <h3>Confirm Password:
    {{ form.password2 }}<br>
  </h3><br>


{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

        
    <button type="submit">Sign Up</button>
  </form>
 {% endblock %}
