{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Other Chats Room</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div class="container2">
    <h5>Chats Log</h5>
    <div id="log"></div>
    <input id="mssg" type="text" size="100" placeholder="Your message goes here…"><br><br>
  </div>
  {{room_name | json_script:'roomname'}}
  <script>
    const roomName = JSON.parse(document.getElementById('roomname').textContent);
    console.log(roomName)
    const chatSocket = new WebSocket(
      'ws://' + window.location.host + '/ws/' + roomName + '/'
    );
    chatSocket.onmessage = function(e) {
      const data = JSON.parse(e.data);
      let log = document.getElementById('log');
      let newItem = document.createElement('li');
      newItem.innerHTML = data.message;
      log.appendChild(newItem);
    }
    chatSocket.onclose = function(e) {
      console.error('0oops! Chats closed.');
    }
 document.getElementById('mssg').addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode === 13) {
      const messageDom = document.querySelector('#mssg');
      const message = messageDom.value;
      chatSocket.send(JSON.stringify({ 'message': message }));
    }
  });

  // make sure the chat log, send box and button position is always in frame
  window.addEventListener("resize", function() {
    let chatLog = document.getElementById('log');
    let messageBox = document.getElementById('mssg');
    let sendButton = document.getElementById('submit');
    chatLog.style.position = "relative";
    messageBox.style.position = "relative";
    sendButton.style.position = 'relative';
    sendButton.style.bottom = '0px';
  });
  </script>
</body>
</html>
