{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Other Chats Room</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div class="container2">
    <h5>Chats Log</h5>
    <div id="log"></div>
    <textarea id="mssg" type="text" size="100" placeholder="Your message goes here…">
    </textarea>
  </div>
  {{room_name | json_script:'roomname'}}
  <script>
    const roomName = JSON.parse(document.getElementById('roomname').textContent);
    console.log(roomName)
    const chatSocket = new WebSocket(
      'ws://' + window.location.host + '/ws/' + roomName + '/'
    );
    chatSocket.onmessage = function(e) {
      const data = JSON.parse(e.data);
      let log = document.getElementById('log');
        let newItem = document.createElement('div');
        newItem.classList.add('message');
        newItem.innerHTML = `
          <div class="avatar">
            <img class='avatar' src="{% static 'imgs/IMG_1646.png' %}" alt="Avatar">
          </div>
          <div class="content">
            <div class="author">Username</div>
            <div class="text">${data.message}</div>
          </div>
        `;
      log.appendChild(newItem);
    }
    chatSocket.onclose = function(e) {
      console.error('0oops! Chats closed.');
    }
document.getElementById('mssg').addEventListener("keyup", function(event) {
  if (event.code === "Enter" && document.querySelector('#mssg').value != '') {
    event.preventDefault();
    const messageDom = document.querySelector('#mssg');
    const message = messageDom.value;
    chatSocket.send(JSON.stringify({ 'message': message }));
    messageDom.value = '';
  }
});

  // make sure the chat log, send box and button position is always in frame
  window.addEventListener("resize", function() {
    let chatLog = document.getElementById('log');
    let messageBox = document.getElementById('mssg');
    chatLog.style.position = "relative";
    messageBox.style.position = "relative";
  });
  </script>
</body>
</html>
