{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>Page Makeover</title>
    <style>
    h1 {
        font-family: 'Arial', sans-serif;
        color: #333;
    }
    </style>
{% endblock %}
{% block body %}
    {% if exists %}
    <h1>{{user}}</h1>
          <div class="profile-avatar" >
            <img class='profile-avatar' src="{% static user.profile_picture %}" alt="Avatar" >
          </div>
    <p> {{user}} is a member of the  {{user.tribe}} tribe!</p>
    {% else %}
    Sorry User not found
    {% endif %}
{% endblock %}

