{% extends "base.html" %}

{% block head %}
  <title>Group Home Page</title>
{% endblock %}

{% block body %}
  <h1>Welcome to Our Group!</h1>
  <p>We are a group of people who share common interests and would like to discuss them in a safe and friendly environment. Please take a minute to check out the chat, rules, and about us sections below.</p>

  <h2>Chat</h2>
  <p>Ready to join the conversation? Click the button below  to enter the chatroom.</p>

  <button onclick="window.location.href=window.location.href + '/chat/'">
   chat 
  </button>
  <h2>Rules</h2>
  <ul>
      <li>Respect the opinions of others.</li>
      <li>No hate speech of any kind.</li>
      <li>No flaming or trolling.</li>
      <li>No spamming.</li>
  </ul>

  <h2>About Us</h2>
  <p>We are a group of people who share common interests and would like to discuss them in a safe and friendly environment. We welcome anyone who would like to join in on the conversation.</p>
{% endblock %}
